@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Nunito:wght@400;500;600;700&display=swap');

:root {
    --blue: #0069CA;
    --purple: #8C19D2;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

.home-title {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    
    background: -webkit-linear-gradient(left,
    var(--blue) 52%, var(--purple) 48%);
    background-clip:initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
