@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Nunito:wght@400;500;600;700&display=swap');

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    margin-top: 3.5rem;
}

#outlined-basic {
    width: 32rem;
    border-radius: 6px;
    font-size: 1.2rem;
}

#msg {
    margin-left: 3rem;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: .9rem;
    color: red;
    font-weight: 600;
}

@media (max-width: 789px)
{
    .search button:first-of-type {
    display: none;
   }
}